# Copy to .env and edit for production
PORT=4000
JWT_SECRET=change_this_secret
DATABASE_CLIENT=sqlite3
DATABASE_FILENAME=./dev.sqlite3
# For PostgreSQL replace with 'pg' and set connection string
# DATABASE_URL=postgres://user:pass@localhost:5432/dbname
